<a href="https://colab.research.google.com/github/Srivastava-Rani-Aakanksha/NLP-Project-Abstractive-Text-Summarization-/blob/main/NLP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Self created dataset - #RamMandir

In [69]:
import pandas as pd
import numpy as np

# New Section

In [70]:
!ls

dataset.csv					     drive
dataset_twitter-scraper_2023-02-28_18-35-00-405.csv  sample_data

In [71]:
data=pd.read_csv('dataset_twitter-scraper_2023-02-28_18-35-00-405.csv')

In [72]:
data.head()

,conversation_id,created_at,favorite_count,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,...,user_mentions/21/id_str,user_mentions/21/name,user_mentions/21/screen_name,user_mentions/22/id_str,user_mentions/22/name,user_mentions/22/screen_name,user_mentions/23/id_str,user_mentions/23/name,user_mentions/23/screen_name,view_count
0,1630605619920093202,2023-02-28T16:27:29.000Z,0,On the first day of the world book fair held a...,ramcharitmanas,TeamLostTemples,Ayodhya,rammandir,jaishreeram,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
1,1630595870940069888,2023-02-28T15:48:45.000Z,0,Days 933 and 934 of tweeting everyday until th...,RamMandirAyodhya,JaiShreeRam,RamMandir,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
2,1630568507837390850,2023-02-28T14:00:01.000Z,0,हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...,Reportdailybulletin,charchitkhabarmedia,digitalmedia,NewsBulletin,Nagpur,Gondiya,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
3,1630537337989128192,2023-02-28T11:56:09.000Z,0,The Beauty of Hindu Swaraj\n#Hindus #sanatan #...,Hindus,sanatan,NewsUpdate,BreakingNews,RamMandir,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,1630524569533415424,2023-02-28T11:05:25.000Z,4,लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...,lakhisarai,Rammandir,Bihar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0

In [73]:
data.shape

(629, 181)

In [74]:
data=data.drop(['conversation_id','created_at','favorite_count'],axis=1)

In [75]:
data.head()

,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,hashtags/6,hashtags/7,hashtags/8,...,user_mentions/21/id_str,user_mentions/21/name,user_mentions/21/screen_name,user_mentions/22/id_str,user_mentions/22/name,user_mentions/22/screen_name,user_mentions/23/id_str,user_mentions/23/name,user_mentions/23/screen_name,view_count
0,On the first day of the world book fair held a...,ramcharitmanas,TeamLostTemples,Ayodhya,rammandir,jaishreeram,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
1,Days 933 and 934 of tweeting everyday until th...,RamMandirAyodhya,JaiShreeRam,RamMandir,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
2,हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...,Reportdailybulletin,charchitkhabarmedia,digitalmedia,NewsBulletin,Nagpur,Gondiya,Rammandir,PoddareshwarRamMandir,NMC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
3,The Beauty of Hindu Swaraj\n#Hindus #sanatan #...,Hindus,sanatan,NewsUpdate,BreakingNews,RamMandir,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...,lakhisarai,Rammandir,Bihar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0

In [76]:
data.shape

(629, 178)

In [77]:
data=data.drop(data.iloc[:, 3:], axis=1)

In [78]:
data.shape

(629, 3)

In [79]:
data.head()

,full_text,hashtags/0,hashtags/1
0,On the first day of the world book fair held a...,ramcharitmanas,TeamLostTemples
1,Days 933 and 934 of tweeting everyday until th...,RamMandirAyodhya,JaiShreeRam
2,हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...,Reportdailybulletin,charchitkhabarmedia
3,The Beauty of Hindu Swaraj\n#Hindus #sanatan #...,Hindus,sanatan
4,लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...,lakhisarai,Rammandir

In [80]:
data=data.drop(data.iloc[:,1:],axis=1)

In [81]:
data.head()

                                           full_text
0  On the first day of the world book fair held a...
1  Days 933 and 934 of tweeting everyday until th...
2  हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...
3  The Beauty of Hindu Swaraj\n#Hindus #sanatan #...
4  लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...

In [82]:
data.shape

(629, 1)

In [83]:
import pickle

In [85]:
file='dataset1.csv'
pickle.dump(data,open(file,'wb'))